<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".EncGalleryApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher_steel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_steel_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EncGallery">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|locale|layoutDirection"
            android:theme="@style/Theme.EncGallery" />

        <activity-alias
            android:name=".IconAlias1"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_cosmic"
            android:roundIcon="@mipmap/ic_launcher_cosmic_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconAlias2"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_nebula"
            android:roundIcon="@mipmap/ic_launcher_nebula_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconAlias3"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_shield"
            android:roundIcon="@mipmap/ic_launcher_shield_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconAlias4"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_blade"
            android:roundIcon="@mipmap/ic_launcher_blade_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconAlias5"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_copper"
            android:roundIcon="@mipmap/ic_launcher_copper_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconAlias6"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_lunar"
            android:roundIcon="@mipmap/ic_launcher_lunar_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconAlias7"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_steel"
            android:roundIcon="@mipmap/ic_launcher_steel_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconAlias8"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_ember"
            android:roundIcon="@mipmap/ic_launcher_ember_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconAlias9"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_floral"
            android:roundIcon="@mipmap/ic_launcher_floral_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconAlias10"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_lavender"
            android:roundIcon="@mipmap/ic_launcher_lavender_round"
            android:label="@string/app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="dev.encgallery.gallery.ShareContentProvider"
            android:authorities="${applicationId}.shareprovider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
